In [1]:
import torch
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('bonus_dataset.csv')
df.head()

  employee_id  performance  years_of_experience  projects_completed  bonus
0     EMP_001            7                    2                   4    124
1     EMP_002            4                    1                   4     82
2     EMP_003            8                    7                  10    178
3     EMP_004            5                    7                   8    138
4     EMP_005            7                    8                   9    170

In [3]:
df.shape

(100, 5)

In [4]:
performance=torch.tensor(df['performance'].values,dtype=torch.float32)
years_of_experience=torch.tensor(df['years_of_experience'].values,dtype=torch.float32)
bonus=torch.tensor(df['bonus'].values,dtype=torch.float32)  
projects_completed=torch.tensor(df['projects_completed'].values,dtype=torch.float32)

In [15]:
w1=torch.rand(1,requires_grad=True)    
w2=torch.randn(1,requires_grad=True)
w3=torch.rand(1,requires_grad=True) 
bias=torch.rand(1,requires_grad=True)   

epochs =5000
learning_rate = 0.005

for epoch in range(epochs):
    predicted_bonus = w1 * performance + w2 * years_of_experience + w3 * projects_completed + bias
    loss=((predicted_bonus-bonus)**2).mean()
    loss.backward()

    with torch.no_grad():
        # Update weights
        w1.data -= learning_rate * w1.grad
        w2.data -= learning_rate * w2.grad
        w3.data -= learning_rate * w3.grad
        bias.data -= learning_rate * bias.grad

        # Zero gradients after updating weights
    w1.grad.zero_()
    w2.grad.zero_()
    w3.grad.zero_()
    bias.grad.zero_()
    
    if epoch % 100 == 0:
        print(f'Epoch {epoch+1}/{epochs}, Loss: {loss.item():.4f}')

Epoch 1/5000, Loss: 18925.5898
Epoch 101/5000, Loss: 18.8737
Epoch 201/5000, Loss: 16.8421
Epoch 301/5000, Loss: 15.0334
Epoch 401/5000, Loss: 13.4205
Epoch 501/5000, Loss: 11.9811
Epoch 601/5000, Loss: 10.6963
Epoch 701/5000, Loss: 9.5493
Epoch 801/5000, Loss: 8.5254
Epoch 901/5000, Loss: 7.6113
Epoch 1001/5000, Loss: 6.7951
Epoch 1101/5000, Loss: 6.0665
Epoch 1201/5000, Loss: 5.4161
Epoch 1301/5000, Loss: 4.8353
Epoch 1401/5000, Loss: 4.3169
Epoch 1501/5000, Loss: 3.8540
Epoch 1601/5000, Loss: 3.4407
Epoch 1701/5000, Loss: 3.0718
Epoch 1801/5000, Loss: 2.7424
Epoch 1901/5000, Loss: 2.4484
Epoch 2001/5000, Loss: 2.1858
Epoch 2101/5000, Loss: 1.9515
Epoch 2201/5000, Loss: 1.7422
Epoch 2301/5000, Loss: 1.5554
Epoch 2401/5000, Loss: 1.3886
Epoch 2501/5000, Loss: 1.2397
Epoch 2601/5000, Loss: 1.1068
Epoch 2701/5000, Loss: 0.9881
Epoch 2801/5000, Loss: 0.8822
Epoch 2901/5000, Loss: 0.7876
Epoch 3001/5000, Loss: 0.7031
Epoch 3101/5000, Loss: 0.6277
Epoch 3201/5000, Loss: 0.5604
Epoch 3301/5000, Loss: 0.5003
Epoch 3401/5000, Loss: 0.4467
Epoch 3501/5000, Loss: 0.3988
Epoch 3601/5000, Loss: 0.3560
Epoch 3701/5000, Loss: 0.3179
Epoch 3801/5000, Loss: 0.2838
Epoch 3901/5000, Loss: 0.2534
Epoch 4001/5000, Loss: 0.2262
Epoch 4101/5000, Loss: 0.2019
Epoch 4201/5000, Loss: 0.1803
Epoch 4301/5000, Loss: 0.1609
Epoch 4401/5000, Loss: 0.1437
Epoch 4501/5000, Loss: 0.1283
Epoch 4601/5000, Loss: 0.1145
Epoch 4701/5000, Loss: 0.1022
Epoch 4801/5000, Loss: 0.0913
Epoch 4901/5000, Loss: 0.0815

In [16]:
w1.item(), w2.item(), w3.item(), bias.item()

(12.049064636230469, 5.831676959991455, 2.2245543003082275, 18.90355110168457)

In [18]:
predicted_bonus = w1 * performance + w2 * years_of_experience + w3 * projects_completed + bias
predicted_bonus

tensor([123.8086,  81.8297, 178.3634, 137.7670, 169.9214, 186.3490,  83.6685,
        169.9214, 170.3071, 109.9912,  81.8297, 143.9139, 162.2509,  85.8931,
        105.9278, 126.1037, 125.7885, 173.9142, 154.2652, 119.9569, 161.9357,
        118.1886, 165.7874, 149.8161, 139.8505,  69.8512, 178.2928,  99.7810,
        164.0897, 130.1671, 166.2437, 115.8935, 105.5421, 105.6127, 123.8086,
        161.9357, 204.3003, 145.7527,  93.5636, 105.9984, 214.5811, 101.6199,
        214.1248, 190.4124, 154.1241,  93.8788, 119.9569, 141.8304, 142.1456,
        190.0267,  83.6685,  91.7953, 122.1109, 111.9006, 190.0267, 114.0546,
         53.2825, 117.5912, 176.2094, 208.2932, 119.8863, 160.0969, 119.9569,
        178.2928,  53.2825, 149.6750, 149.8867, 149.7455, 164.0897, 145.6821,
        146.1384,  93.8788,  85.5074,  89.4297, 186.4196, 154.1241, 139.8505,
        150.1313,  51.5142, 180.1316, 164.0897, 172.0754, 127.8014,  41.2334,
        146.1384, 135.8576, 102.0056, 118.1886, 168.0826, 113.6689,  91.7248,
         89.5708, 150.2724, 149.6750, 153.8089, 206.0686, 174.2999, 142.1456,
        145.6821, 165.8580], grad_fn=<AddBackward0>)